In [6]:
import pandas as pd

In [1]:
import pandas as pd
import numpy as np 

#skiprows=19 will skip first 19 lines and try to read from 20th line
CorkMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/CorkMonthly.csv', skiprows=19,  na_values="0")  ## pandas as pd

#print the data frame
CorkMonthlydf

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
0,1962,1,5.5,11.6,-3.8,8.2,2.7,,-6.3,12.8,70,
1,1962,2,5.3,12.3,-2.7,7.9,2.7,,-4.4,13.6,57,
2,1962,3,4.2,12.2,-5.4,7.5,0.9,,-7.2,10.3,63,
3,1962,4,7.7,18.8,0.6,11.2,4.1,68.6,-1.3,11.7,62,201.1
4,1962,5,9.7,16.1,2.3,13.3,6.2,80.7,-0.7,12.0,45,216.5
...,...,...,...,...,...,...,...,...,...,...,...,...
722,2022,4,9.0,15.5,-0.7,12.5,5.5,64.9,-7.9,9.4,39,167.2
723,2022,5,12.1,18.5,6.6,15.7,8.5,35.7,-1.6,8.9,38,164.4
724,2022,6,13.4,20.7,6.1,17.0,9.7,84.1,1.2,9.3,41,133.3
725,2022,7,16.1,26.9,8.4,20.0,12.3,28.1,3.5,8.3,31,153.5
726,2022,8,17.1,28.3,8.7,21.7,12.4,14.2,3.2,7.9,32,236.3

In [2]:
CorkMonthlydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    727 non-null    int64
 1   month   727 non-null    int64
 2   meant   727 non-null    float64
 3   maxtp   727 non-null    float64
 4   mintp   717 non-null    float64
 5   mnmax   727 non-null    float64
 6   mnmin   725 non-null    float64
 7   rain    727 non-null    object
 8   gmin    717 non-null    float64
 9   wdsp    727 non-null    float64
 10  maxgt   727 non-null    int64
 11  sun     727 non-null    object
dtypes: float64(7), int64(3), object(2)
memory usage: 68.3+ KB

In [3]:
CorkMonthlydf.describe()

,year,month,meant,maxtp,mintp,mnmax,mnmin,gmin,wdsp,maxgt
count,727.000000,727.000000,727.000000,727.000000,717.000000,727.000000,725.00000,717.000000,727.000000,727.000000
mean,1991.796424,6.482806,9.697524,16.975791,2.021478,12.817056,6.59931,-2.201534,10.370151,47.144429
std,17.506625,3.450064,3.638162,4.446117,3.979148,4.014586,3.30073,4.131290,2.030837,9.774865
min,1962.000000,1.000000,0.700000,5.600000,-8.600000,2.800000,-1.30000,-12.400000,6.000000,27.000000
25%,1977.000000,3.500000,6.600000,13.000000,-1.100000,9.300000,3.80000,-5.400000,8.900000,39.000000
50%,1992.000000,6.000000,9.200000,16.300000,1.400000,12.300000,6.00000,-2.500000,10.100000,46.000000
75%,2007.000000,9.000000,13.200000,20.700000,5.700000,16.500000,9.70000,1.400000,11.600000,53.500000
max,2022.000000,12.000000,18.300000,28.700000,10.500000,22.600000,13.90000,7.000000,20.000000,94.000000

In [4]:
CorkMonthlydf.isna().sum()

year      0
month     0
meant     0
maxtp     0
mintp    10
mnmax     0
mnmin     2
rain      0
gmin     10
wdsp      0
maxgt     0
sun       0
dtype: int64

In [5]:
#subset the Dataframe for exact date we need using .loc

CorkMonthly = CorkMonthlydf.loc[504:718]
CorkMonthly

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
504,2004,1,6.1,12.0,-4.0,8.6,3.5,106.6,-9.3,9.9,52,67.2
505,2004,2,5.7,12.2,-3.0,8.1,3.3,78.8,-5.4,9.8,52,108.4
506,2004,3,7.1,13.4,0.5,10.0,4.2,114.0,-2.4,12.0,56,135.9
507,2004,4,8.3,14.2,0.8,11.5,5.1,65.3,-0.2,10.3,45,146.1
508,2004,5,11.4,20.3,3.2,15.3,7.6,46.2,0.9,8.7,53,223.4
...,...,...,...,...,...,...,...,...,...,...,...,...
714,2021,8,15.4,21.6,9.7,18.6,12.1,65.0,5.7,8.0,34,164.3
715,2021,9,14.6,23.3,5.6,17.4,11.7,85.4,2.7,7.2,33,83.1
716,2021,10,11.3,17.6,4.1,14.2,8.4,197.6,-1.5,9.2,47,104.4
717,2021,11,8.2,15.2,-1.2,10.9,5.6,34.2,-3.5,8.7,45,93.4
718,2021,12,7.7,13.0,0.9,9.5,5.9,148.0,-2.0,11.4,64,43.1

In [6]:
CorkMonthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 504 to 718
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    215 non-null    int64
 1   month   215 non-null    int64
 2   meant   215 non-null    float64
 3   maxtp   215 non-null    float64
 4   mintp   214 non-null    float64
 5   mnmax   215 non-null    float64
 6   mnmin   215 non-null    float64
 7   rain    215 non-null    object
 8   gmin    212 non-null    float64
 9   wdsp    215 non-null    float64
 10  maxgt   215 non-null    int64
 11  sun     215 non-null    object
dtypes: float64(7), int64(3), object(2)
memory usage: 20.3+ KB

In [7]:
CorkMonthly.isna().sum()

year     0
month    0
meant    0
maxtp    0
mintp    1
mnmax    0
mnmin    0
rain     0
gmin     3
wdsp     0
maxgt    0
sun      0
dtype: int64

In [8]:
CorkMonthlyData = CorkMonthlydf.iloc[504, [1:13]].copy()
CorkMonthlyData

SyntaxError: invalid syntax (1461419615.py, line 1)

In [9]:
CorkMonthlyData = CorkMonthlydf.iloc[504, [1:13]].copy()
CorkMonthlyData

SyntaxError: invalid syntax (1461419615.py, line 1)

In [10]:
CorkMonthlyData = CorkMonthlydf.iloc[504,700]
print(CorkMonthlyData)

IndexError: index 700 is out of bounds for axis 0 with size 12

In [11]:
#left error in for reference of repairs/problem solbving the code

display(CorkMonthlydf.iloc[504:719 , 0:13])

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
504,2004,1,6.1,12.0,-4.0,8.6,3.5,106.6,-9.3,9.9,52,67.2
505,2004,2,5.7,12.2,-3.0,8.1,3.3,78.8,-5.4,9.8,52,108.4
506,2004,3,7.1,13.4,0.5,10.0,4.2,114.0,-2.4,12.0,56,135.9
507,2004,4,8.3,14.2,0.8,11.5,5.1,65.3,-0.2,10.3,45,146.1
508,2004,5,11.4,20.3,3.2,15.3,7.6,46.2,0.9,8.7,53,223.4
...,...,...,...,...,...,...,...,...,...,...,...,...
714,2021,8,15.4,21.6,9.7,18.6,12.1,65.0,5.7,8.0,34,164.3
715,2021,9,14.6,23.3,5.6,17.4,11.7,85.4,2.7,7.2,33,83.1
716,2021,10,11.3,17.6,4.1,14.2,8.4,197.6,-1.5,9.2,47,104.4
717,2021,11,8.2,15.2,-1.2,10.9,5.6,34.2,-3.5,8.7,45,93.4
718,2021,12,7.7,13.0,0.9,9.5,5.9,148.0,-2.0,11.4,64,43.1

In [12]:
#creating a new DF subset as CorkMonthlyData using iloc
CorkMonthlyData = CorkMonthlydf.iloc[504:719 , 0:13].copy()
print(CorkMonthlyData)

     year  month  meant  maxtp  mintp  mnmax  mnmin   rain  gmin  wdsp  maxgt  \
504  2004      1    6.1   12.0   -4.0    8.6    3.5  106.6  -9.3   9.9     52
505  2004      2    5.7   12.2   -3.0    8.1    3.3   78.8  -5.4   9.8     52
506  2004      3    7.1   13.4    0.5   10.0    4.2  114.0  -2.4  12.0     56
507  2004      4    8.3   14.2    0.8   11.5    5.1   65.3  -0.2  10.3     45
508  2004      5   11.4   20.3    3.2   15.3    7.6   46.2   0.9   8.7     53
..    ...    ...    ...    ...    ...    ...    ...    ...   ...   ...    ...
714  2021      8   15.4   21.6    9.7   18.6   12.1   65.0   5.7   8.0     34
715  2021      9   14.6   23.3    5.6   17.4   11.7   85.4   2.7   7.2     33
716  2021     10   11.3   17.6    4.1   14.2    8.4  197.6  -1.5   9.2     47
717  2021     11    8.2   15.2   -1.2   10.9    5.6   34.2  -3.5   8.7     45
718  2021     12    7.7   13.0    0.9    9.5    5.9  148.0  -2.0  11.4     64

       sun
504   67.2
505  108.4
506  135.9
507  146.1
508  223.4
..     ...
714  164.3
715   83.1
716  104.4
717   93.4
718   43.1

[215 rows x 12 columns]

In [13]:
#adding a new column of data to show the location identifier for each row of data
CorkMonthlyData['Location'] = "Cork"
CorkMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
504,2004,1,6.1,12.0,-4.0,8.6,3.5,106.6,-9.3,9.9,52,67.2,Cork
505,2004,2,5.7,12.2,-3.0,8.1,3.3,78.8,-5.4,9.8,52,108.4,Cork
506,2004,3,7.1,13.4,0.5,10.0,4.2,114.0,-2.4,12.0,56,135.9,Cork
507,2004,4,8.3,14.2,0.8,11.5,5.1,65.3,-0.2,10.3,45,146.1,Cork
508,2004,5,11.4,20.3,3.2,15.3,7.6,46.2,0.9,8.7,53,223.4,Cork
...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,2021,8,15.4,21.6,9.7,18.6,12.1,65.0,5.7,8.0,34,164.3,Cork
715,2021,9,14.6,23.3,5.6,17.4,11.7,85.4,2.7,7.2,33,83.1,Cork
716,2021,10,11.3,17.6,4.1,14.2,8.4,197.6,-1.5,9.2,47,104.4,Cork
717,2021,11,8.2,15.2,-1.2,10.9,5.6,34.2,-3.5,8.7,45,93.4,Cork
718,2021,12,7.7,13.0,0.9,9.5,5.9,148.0,-2.0,11.4,64,43.1,Cork

In [14]:
CorkMonthlyData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 504 to 718
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      215 non-null    int64
 1   month     215 non-null    int64
 2   meant     215 non-null    float64
 3   maxtp     215 non-null    float64
 4   mintp     214 non-null    float64
 5   mnmax     215 non-null    float64
 6   mnmin     215 non-null    float64
 7   rain      215 non-null    object
 8   gmin      212 non-null    float64
 9   wdsp      215 non-null    float64
 10  maxgt     215 non-null    int64
 11  sun       215 non-null    object
 12  Location  215 non-null    object
dtypes: float64(7), int64(3), object(3)
memory usage: 22.0+ KB

In [15]:
#amending month numbers to actual descriptor e.g. Jan, Feb, etc

CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==1 ,'Jan', inplace=True)
CorkMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
504,2004,Jan,6.1,12.0,-4.0,8.6,3.5,106.6,-9.3,9.9,52,67.2,Cork
505,2004,2,5.7,12.2,-3.0,8.1,3.3,78.8,-5.4,9.8,52,108.4,Cork
506,2004,3,7.1,13.4,0.5,10.0,4.2,114.0,-2.4,12.0,56,135.9,Cork
507,2004,4,8.3,14.2,0.8,11.5,5.1,65.3,-0.2,10.3,45,146.1,Cork
508,2004,5,11.4,20.3,3.2,15.3,7.6,46.2,0.9,8.7,53,223.4,Cork
...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,2021,8,15.4,21.6,9.7,18.6,12.1,65.0,5.7,8.0,34,164.3,Cork
715,2021,9,14.6,23.3,5.6,17.4,11.7,85.4,2.7,7.2,33,83.1,Cork
716,2021,10,11.3,17.6,4.1,14.2,8.4,197.6,-1.5,9.2,47,104.4,Cork
717,2021,11,8.2,15.2,-1.2,10.9,5.6,34.2,-3.5,8.7,45,93.4,Cork
718,2021,12,7.7,13.0,0.9,9.5,5.9,148.0,-2.0,11.4,64,43.1,Cork

In [16]:
#displaying to show that CorkMonthlydf has not been affected and that my new dataframe is being manipulated
CorkMonthlydf

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
0,1962,1,5.5,11.6,-3.8,8.2,2.7,,-6.3,12.8,70,
1,1962,2,5.3,12.3,-2.7,7.9,2.7,,-4.4,13.6,57,
2,1962,3,4.2,12.2,-5.4,7.5,0.9,,-7.2,10.3,63,
3,1962,4,7.7,18.8,0.6,11.2,4.1,68.6,-1.3,11.7,62,201.1
4,1962,5,9.7,16.1,2.3,13.3,6.2,80.7,-0.7,12.0,45,216.5
...,...,...,...,...,...,...,...,...,...,...,...,...
722,2022,4,9.0,15.5,-0.7,12.5,5.5,64.9,-7.9,9.4,39,167.2
723,2022,5,12.1,18.5,6.6,15.7,8.5,35.7,-1.6,8.9,38,164.4
724,2022,6,13.4,20.7,6.1,17.0,9.7,84.1,1.2,9.3,41,133.3
725,2022,7,16.1,26.9,8.4,20.0,12.3,28.1,3.5,8.3,31,153.5
726,2022,8,17.1,28.3,8.7,21.7,12.4,14.2,3.2,7.9,32,236.3

In [17]:
#amending all months from number to a descriptor using .mask - this will be used when I merge all Dataframes
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==1 ,'Jan', inplace=True)
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==2 ,'Feb', inplace=True)
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==3 ,'Mar', inplace=True)
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==4 ,'Apr', inplace=True)                              
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==5 ,'May', inplace=True)                              
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==6 ,'Jun', inplace=True)
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==7 ,'Jul', inplace=True)
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==8 ,'Aug', inplace=True)
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==9 ,'Sep', inplace=True)
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==10 ,'Oct', inplace=True)
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==11 ,'Nov', inplace=True)
CorkMonthlyData['month'].mask(CorkMonthlyData['month'] ==12 ,'Dec', inplace=True)
CorkMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
504,2004,Jan,6.1,12.0,-4.0,8.6,3.5,106.6,-9.3,9.9,52,67.2,Cork
505,2004,Feb,5.7,12.2,-3.0,8.1,3.3,78.8,-5.4,9.8,52,108.4,Cork
506,2004,Mar,7.1,13.4,0.5,10.0,4.2,114.0,-2.4,12.0,56,135.9,Cork
507,2004,Apr,8.3,14.2,0.8,11.5,5.1,65.3,-0.2,10.3,45,146.1,Cork
508,2004,May,11.4,20.3,3.2,15.3,7.6,46.2,0.9,8.7,53,223.4,Cork
...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,2021,Aug,15.4,21.6,9.7,18.6,12.1,65.0,5.7,8.0,34,164.3,Cork
715,2021,Sep,14.6,23.3,5.6,17.4,11.7,85.4,2.7,7.2,33,83.1,Cork
716,2021,Oct,11.3,17.6,4.1,14.2,8.4,197.6,-1.5,9.2,47,104.4,Cork
717,2021,Nov,8.2,15.2,-1.2,10.9,5.6,34.2,-3.5,8.7,45,93.4,Cork
718,2021,Dec,7.7,13.0,0.9,9.5,5.9,148.0,-2.0,11.4,64,43.1,Cork

In [ ]:
""