In [1]:
import pandas as pd
import numpy as np 

# read all csv files to pd dfs - skiprows=19 will skip first 19 lines and try to read from 20th line where the data we want is - code also added, sep parameter, to not recognize/pull in blank spaces from csv

DonegalMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/DonegalMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')
WestmeathMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/WestmeathMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')
MayoMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/MayoMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')
CorkMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/CorkMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')
DublinMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/DublinMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')

#print the data frames
print(DonegalMonthlydf)
print(WestmeathMonthlydf)
print(MayoMonthlydf)
print(CorkMonthlydf)
print(DublinMonthlydf)

     year  month  meant  maxtp  mintp  mnmax  mnmin   rain  gmin  wdsp  maxgt  \
0    1955      5    9.5   20.2    1.4   12.3    6.6   70.1  -0.6  14.6   48.0
1    1955      6   12.4   18.8    6.6   14.7   10.0   83.2  -0.3  12.9   58.0
2    1955      7   14.8   21.3    8.8   17.5   12.1   22.1   4.5   6.2   33.0
3    1955      8   15.8   27.1    9.5   18.7   12.9   27.3   5.6   8.1   47.0
4    1955      9   13.9   23.4    7.7   16.5   11.2  114.2   4.4  16.0   50.0
..    ...    ...    ...    ...    ...    ...    ...    ...   ...   ...    ...
803  2022      4    8.6   16.0    1.7   11.5    5.8   84.2  -2.4  13.6   50.0
804  2022      5   11.9   19.4    8.0   14.3    9.4   74.8   2.1  14.3   41.0
805  2022      6   13.3   18.8    7.7   15.8   10.8   66.4   2.6  13.4   43.0
806  2022      7   14.6   23.0    8.9   17.0   12.3   66.3   8.5  11.7   40.0
807  2022      8   14.7   21.1    7.7   17.5   12.0   44.1   5.1  11.0   35.0

       sun
0    250.1
1    124.0
2    213.3
3    140.9
4    121.9
..     ...
803    NaN
804    NaN
805    NaN
806    NaN
807    NaN

[808 rows x 12 columns]
     year  month  meant  maxtp  mintp  mnmax  mnmin   rain  gmin  wdsp  maxgt  \
0    1950      1    5.2   12.3   -5.3    8.0    2.4   25.8  -8.3   8.8   42.0
1    1950      2    4.9   13.3   -3.9    8.4    1.4  129.2  -7.6  10.8   55.0
2    1950      3    7.8   15.5   -0.6   11.9    3.7   45.4  -3.9   8.1   41.0
3    1950      4    6.9   15.6   -1.7   10.7    3.1   82.6  -5.6  11.8   53.0
4    1950      5   11.0   20.6    2.3   15.5    6.5   25.1  -1.7   8.5   37.0
..    ...    ...    ...    ...    ...    ...    ...    ...   ...   ...    ...
867  2022      4    8.1   16.9   -4.6   12.9    3.3   48.7  -8.8   6.4   38.0
868  2022      5   12.0   19.8    4.1   16.3    7.8   53.4  -0.9   6.3   31.0
869  2022      6   13.5   22.6    4.5   17.6    9.4  100.6  -0.5   5.9   30.0
870  2022      7   16.2   30.4    7.1   20.6   11.7   31.6   3.4   4.9   25.0
871  2022      8   15.5   27.7    5.2   21.2    9.8   35.2   1.5   4.6   27.0

       sun
0     42.4
1     67.9
2    115.5
3    136.8
4    213.7
..     ...
867    NaN
868    NaN
869    NaN
870    NaN
871    NaN

[872 rows x 12 columns]
     year  month  meant  maxtp  mintp  mnmax  mnmin   rain  gmin  wdsp  maxgt  \
0    1996      8   13.4   20.4    7.3   16.6   10.3  109.4   5.3   8.3   34.0
1    1996     10    9.7    NaN    NaN   12.5    7.0    NaN   NaN   NaN    NaN
2    1996     11    5.0    NaN    NaN    7.6    2.5    NaN   NaN   NaN    NaN
3    1996     12    3.1   10.7   -4.0    5.2    1.1    NaN  -5.3   9.4   48.0
4    1997      1    3.4   10.7   -3.9    5.2    1.6   26.0  -5.2   8.0   40.0
..    ...    ...    ...    ...    ...    ...    ...    ...   ...   ...    ...
306  2022      4    8.2   16.3   -0.7   12.0    4.4   77.2  -2.9   9.1   53.0
307  2022      5   11.3   18.6    4.5   14.8    7.7  101.7   1.6   9.3   38.0
308  2022      6   12.3   19.9    6.3   15.7    8.9  128.8   3.5   8.8   40.0
309  2022      7   15.0   27.6    8.6   18.6   11.3   39.8   6.5   7.4   32.0
310  2022      8   15.0   27.2    7.9   19.2   10.9   59.4   4.9   7.1   29.0

      sun
0     NaN
1     NaN
2     NaN
3     NaN
4    42.1
..    ...
306   NaN
307   NaN
308   NaN
309   NaN
310   NaN

[311 rows x 12 columns]
     year  month  meant  maxtp  mintp  mnmax  mnmin  rain  gmin  wdsp  maxgt  \
0    1962      1    5.5   11.6   -3.8    8.2    2.7   NaN  -6.3  12.8     70
1    1962      2    5.3   12.3   -2.7    7.9    2.7   NaN  -4.4  13.6     57
2    1962      3    4.2   12.2   -5.4    7.5    0.9   NaN  -7.2  10.3     63
3    1962      4    7.7   18.8    0.6   11.2    4.1  68.6  -1.3  11.7     62
4    1962      5    9.7   16.1    2.3   13.3    6.2  80.7  -0.7  12.0     45
..    ...    ...    ...    ...    ...    ...    ...   ...   ...   ...    ...
722  2022      4    9.0   15.5   -0.7   12.5    5.5  64.9  -7.9   9.4     39
723  2022      5   12.1   18.5    6.6   15.7    8.5  35.7  -1.6   8.9     38
724  2022      6   13.4   20.7    6.1   17.0    9.7  84.1   1.2   9.3     41
725  2022      7   16.1   26.9    8.4   20.0   12.3  28.1   3.5   8.3     31
726  2022      8   17.1   28.3    8.7   21.7   12.4  14.2   3.2   7.9     32

       sun
0      NaN
1      NaN
2      NaN
3    201.1
4    216.5
..     ...
722  167.2
723  164.4
724  133.3
725  153.5
726  236.3

[727 rows x 12 columns]
     year  month  meant  maxtp  mintp  mnmax  mnmin  rain  gmin  wdsp  maxgt  \
0    1941     11    6.9   14.0   -3.1    9.9    3.9  67.2  -5.7  12.0    NaN
1    1941     12    6.5   12.7   -3.6    9.1    3.9  41.7  -7.6  12.5    NaN
2    1942      1    4.3   11.9   -3.1    6.9    1.7  91.9  -9.5  13.1    NaN
3    1942      2    2.9   11.6   -4.3    5.8   -0.0  25.8 -10.7   9.0    NaN
4    1942      3    6.3   16.2   -6.1    9.4    3.2  76.4  -8.3  10.7    NaN
..    ...    ...    ...    ...    ...    ...    ...   ...   ...   ...    ...
964  2022      4    7.6   17.3   -3.7   12.5    2.7  28.1  -7.1   9.3   43.0
965  2022      5   11.9   19.9    2.3   16.3    7.6  48.4  -1.3   8.8   33.0
966  2022      6   13.6   22.6    2.3   17.7    9.5  43.6  -2.1   8.3   33.0
967  2022      7   16.3   29.1    6.6   21.0   11.7  29.6   0.0   8.1   33.0
968  2022      8   15.9   26.3    6.0   21.3   10.5  34.6   0.9   7.3   30.0

       sun
0     56.1
1     46.1
2     72.8
3     51.4
4     73.9
..     ...
964  168.4
965  166.9
966  163.5
967  131.6
968  222.0

[969 rows x 12 columns]

In [2]:
# carve up into 5 subset dataframes using iloc. Each df will be for the time period we want 2001-2021

DonegalMonthlyData = DonegalMonthlydf.iloc[548:800 , 0:13].copy()
WestmeathMonthlyData = WestmeathMonthlydf.iloc[612:864 , 0:13].copy()
MayoMonthlyData = MayoMonthlydf.iloc[52:303 , 0:13].copy()
CorkMonthlyData = CorkMonthlydf.iloc[468:719 , 0:13].copy()
DublinMonthlyData = DublinMonthlydf.iloc[710:961 , 0:13].copy()

In [3]:
# adding location column to each dataframe

DonegalMonthlyData['Location'] = "Donegal"
WestmeathMonthlyData['Location'] = "Westmeath"
MayoMonthlyData['Location'] = "Mayo"
CorkMonthlyData['Location'] = "Cork"
DublinMonthlyData['Location'] = "Dublin"

In [4]:
# use .info to show the dataframe dtypes information and datatype - note Cork data has mxgt column as int64 so we will convert to float64 to be consistent before we merge the dataframes

DonegalMonthlyData.info()
WestmeathMonthlyData.info()
MayoMonthlyData.info()
CorkMonthlyData.info()
DublinMonthlyData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 548 to 799
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      252 non-null    int64
 1   month     252 non-null    int64
 2   meant     252 non-null    float64
 3   maxtp     252 non-null    float64
 4   mintp     252 non-null    float64
 5   mnmax     252 non-null    float64
 6   mnmin     252 non-null    float64
 7   rain      252 non-null    float64
 8   gmin      252 non-null    float64
 9   wdsp      251 non-null    float64
 10  maxgt     252 non-null    float64
 11  sun       120 non-null    float64
 12  Location  252 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 612 to 863
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      252 non-null    int64
 1   month     252 non-null    int64
 2   meant     252 non-null    float64
 3   maxtp     252 non-null    float64
 4   mintp     252 non-null    float64
 5   mnmax     252 non-null    float64
 6   mnmin     252 non-null    float64
 7   rain      252 non-null    float64
 8   gmin      251 non-null    float64
 9   wdsp      252 non-null    float64
 10  maxgt     252 non-null    float64
 11  sun       72 non-null     float64
 12  Location  252 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 52 to 302
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      251 non-null    int64
 1   month     251 non-null    int64
 2   meant     251 non-null    float64
 3   maxtp     251 non-null    float64
 4   mintp     251 non-null    float64
 5   mnmax     251 non-null    float64
 6   mnmin     251 non-null    float64
 7   rain      251 non-null    float64
 8   gmin      251 non-null    float64
 9   wdsp      251 non-null    float64
 10  maxgt     251 non-null    float64
 11  sun       230 non-null    float64
 12  Location  251 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 468 to 718
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      251 non-null    int64
 1   month     251 non-null    int64
 2   meant     251 non-null    float64
 3   maxtp     251 non-null    float64
 4   mintp     251 non-null    float64
 5   mnmax     251 non-null    float64
 6   mnmin     251 non-null    float64
 7   rain      251 non-null    float64
 8   gmin      251 non-null    float64
 9   wdsp      251 non-null    float64
 10  maxgt     251 non-null    int64
 11  sun       251 non-null    float64
 12  Location  251 non-null    object
dtypes: float64(9), int64(3), object(1)
memory usage: 25.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 710 to 960
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      251 non-null    int64
 1   month     251 non-null    int64
 2   meant     251 non-null    float64
 3   maxtp     251 non-null    float64
 4   mintp     251 non-null    float64
 5   mnmax     251 non-null    float64
 6   mnmin     251 non-null    float64
 7   rain      251 non-null    float64
 8   gmin      250 non-null    float64
 9   wdsp      251 non-null    float64
 10  maxgt     251 non-null    float64
 11  sun       251 non-null    float64
 12  Location  251 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.6+ KB

In [5]:
# convert Cork maxgt column dtype int64 to float64 so that we can be consistent across all dataframes when we merge

CorkMonthlyData['maxgt'] = CorkMonthlyData['maxgt'].astype(float)
CorkMonthlyData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 468 to 718
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      251 non-null    int64
 1   month     251 non-null    int64
 2   meant     251 non-null    float64
 3   maxtp     251 non-null    float64
 4   mintp     251 non-null    float64
 5   mnmax     251 non-null    float64
 6   mnmin     251 non-null    float64
 7   rain      251 non-null    float64
 8   gmin      251 non-null    float64
 9   wdsp      251 non-null    float64
 10  maxgt     251 non-null    float64
 11  sun       251 non-null    float64
 12  Location  251 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.6+ KB

In [6]:
# Starting with Donegal we will show some basic statistical results on the dataframe, identify and replace missing values

DonegalMonthlyData.describe()

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,251.000000,252.000000,120.000000
mean,2011.000000,6.500000,9.998016,17.056746,3.344841,12.414286,7.586508,93.904365,0.357937,14.686454,54.408730,115.875833
std,6.067351,3.458922,3.254044,4.177343,3.659808,3.365094,3.183369,41.966387,3.749366,2.947700,10.994185,59.893160
min,2001.000000,1.000000,4.000000,8.900000,-3.600000,6.000000,1.800000,15.100000,-6.900000,7.800000,30.000000,14.900000
25%,2006.000000,3.750000,7.100000,13.175000,0.400000,9.400000,4.775000,65.825000,-2.125000,12.400000,46.000000,63.850000
50%,2011.000000,6.500000,9.700000,17.050000,2.350000,12.250000,7.300000,86.850000,-0.250000,14.700000,54.000000,109.000000
75%,2016.000000,9.250000,13.300000,20.700000,7.000000,15.600000,10.800000,115.775000,3.625000,16.900000,62.000000,158.400000
max,2021.000000,12.000000,16.100000,25.900000,11.100000,19.100000,13.200000,272.900000,9.100000,22.300000,91.000000,280.800000

In [7]:
# Donegal identify and replace missing values

DonegalMonthlyData.isna().sum()

year          0
month         0
meant         0
maxtp         0
mintp         0
mnmax         0
mnmin         0
rain          0
gmin          0
wdsp          1
maxgt         0
sun         132
Location      0
dtype: int64

In [8]:
# locate the missing values for pre change review using .loc, .isnull and .any with axis set to 1 to perform on columns that satisy condition 
# too many to show below - note row 668 where we will refer back to later to show NaN replaced

DonegalMonthlyData.loc[DonegalMonthlyData.isnull().any(axis=1)]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
668,2011,1,5.1,11.7,-3.6,7.4,2.7,89.6,-6.6,13.7,51.0,NaN,Donegal
669,2011,2,6.6,13.5,0.2,9.4,3.8,105.5,-4.1,15.3,74.0,NaN,Donegal
670,2011,3,6.8,15.4,0.4,9.5,4.2,59.0,-3.5,12.2,56.0,NaN,Donegal
671,2011,4,10.7,20.8,5.5,14.0,7.3,66.2,-0.9,12.5,45.0,NaN,Donegal
672,2011,5,11.0,18.3,5.9,13.7,8.4,100.4,3.0,19.4,73.0,NaN,Donegal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,2021,8,14.4,20.3,9.0,16.7,12.1,69.1,4.9,9.2,39.0,NaN,Donegal
796,2021,9,14.3,22.8,7.8,16.9,11.7,68.3,5.5,11.2,44.0,NaN,Donegal
797,2021,10,11.8,18.3,4.9,14.1,9.5,156.2,2.8,14.9,52.0,NaN,Donegal
798,2021,11,9.6,15.6,3.7,11.4,7.7,95.4,2.5,18.6,70.0,NaN,Donegal
799,2021,12,7.2,13.1,1.6,9.3,5.2,115.2,-1.2,15.8,64.0,NaN,Donegal

In [9]:
# identify MIN and MAX in wdsp and sun

Donegal_wdsp_min = DonegalMonthlyData['wdsp'].loc[DonegalMonthlyData['wdsp'].idxmin()]
Donegal_wdsp_max = DonegalMonthlyData['wdsp'].loc[DonegalMonthlyData['wdsp'].idxmax()]
Donegal_sun_min = DonegalMonthlyData['sun'].loc[DonegalMonthlyData['sun'].idxmin()]
Donegal_sun_max = DonegalMonthlyData['sun'].loc[DonegalMonthlyData['sun'].idxmax()]

print(Donegal_wdsp_min)
print(Donegal_wdsp_max)
print(Donegal_sun_min)
print(Donegal_sun_max)

7.8
22.3
14.9
280.8

In [10]:
# code to replace NaN values with random number between the min and max range we have identified in wdsp and sun columns

DonegalMonthlyData['wdsp'] = DonegalMonthlyData['wdsp'].mask(DonegalMonthlyData['wdsp'].isna(), np.random.uniform(7.8, 22.3, size=len(DonegalMonthlyData)))
DonegalMonthlyData['sun'] = DonegalMonthlyData['sun'].mask(DonegalMonthlyData['sun'].isna(), np.random.uniform(14.9, 280.8, size=len(DonegalMonthlyData)))

In [11]:
# referring back to row 668 which we mentioned earlier - this should now have it's NaN value replaced

DonegalMonthlyData.loc[[668]]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
668,2011,1,5.1,11.7,-3.6,7.4,2.7,89.6,-6.6,13.7,51.0,218.167711,Donegal

In [12]:
# check dataframe to see if NaN values have been replaced as per our request and note decimal places have changed post changes
DonegalMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
548,2001,1,4.7,9.4,-1.7,6.7,2.7,61.5,-4.5,15.7,57.0,77.700000,Donegal
549,2001,2,5.1,11.3,-0.7,7.4,2.9,86.5,-2.5,17.2,58.0,88.700000,Donegal
550,2001,3,5.3,13.1,-2.5,7.5,3.1,29.4,-4.5,17.4,66.0,125.000000,Donegal
551,2001,4,7.3,14.9,2.2,9.7,4.9,54.2,-0.2,13.9,57.0,152.000000,Donegal
552,2001,5,11.3,22.3,3.7,14.2,8.4,34.2,2.2,9.7,58.0,221.900000,Donegal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,2021,8,14.4,20.3,9.0,16.7,12.1,69.1,4.9,9.2,39.0,250.832031,Donegal
796,2021,9,14.3,22.8,7.8,16.9,11.7,68.3,5.5,11.2,44.0,172.224216,Donegal
797,2021,10,11.8,18.3,4.9,14.1,9.5,156.2,2.8,14.9,52.0,198.840705,Donegal
798,2021,11,9.6,15.6,3.7,11.4,7.7,95.4,2.5,18.6,70.0,64.601631,Donegal
799,2021,12,7.2,13.1,1.6,9.3,5.2,115.2,-1.2,15.8,64.0,99.836461,Donegal

In [13]:
# amending the missing values has caused the float number of figures after decimal point to expand
# change decimal point back to 1 place and view again toensure decimal places have reverted to what we want e.g. 1 place

pd.set_option('display.float_format', '{:.1f}'.format)
DonegalMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
548,2001,1,4.7,9.4,-1.7,6.7,2.7,61.5,-4.5,15.7,57.0,77.7,Donegal
549,2001,2,5.1,11.3,-0.7,7.4,2.9,86.5,-2.5,17.2,58.0,88.7,Donegal
550,2001,3,5.3,13.1,-2.5,7.5,3.1,29.4,-4.5,17.4,66.0,125.0,Donegal
551,2001,4,7.3,14.9,2.2,9.7,4.9,54.2,-0.2,13.9,57.0,152.0,Donegal
552,2001,5,11.3,22.3,3.7,14.2,8.4,34.2,2.2,9.7,58.0,221.9,Donegal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,2021,8,14.4,20.3,9.0,16.7,12.1,69.1,4.9,9.2,39.0,250.8,Donegal
796,2021,9,14.3,22.8,7.8,16.9,11.7,68.3,5.5,11.2,44.0,172.2,Donegal
797,2021,10,11.8,18.3,4.9,14.1,9.5,156.2,2.8,14.9,52.0,198.8,Donegal
798,2021,11,9.6,15.6,3.7,11.4,7.7,95.4,2.5,18.6,70.0,64.6,Donegal
799,2021,12,7.2,13.1,1.6,9.3,5.2,115.2,-1.2,15.8,64.0,99.8,Donegal

In [14]:
# we can now confirm that all NaN values have been replaced by running the .isna function again

DonegalMonthlyData.isna().sum()

year        0
month       0
meant       0
maxtp       0
mintp       0
mnmax       0
mnmin       0
rain        0
gmin        0
wdsp        0
maxgt       0
sun         0
Location    0
dtype: int64

In [15]:
# Next - Westmeath - we will show some basic statistical results on the dataframe, identify and replace missing values

WestmeathMonthlyData.describe()

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
count,252.0,252.0,252.0,252.0,252.0,252.0,252.0,252.0,251.0,252.0,252.0,72.0
mean,2011.0,6.5,9.4,18.1,-0.5,13.3,5.5,83.0,-4.7,6.3,34.9,120.9
std,6.1,3.5,4.0,4.9,4.3,4.4,3.6,42.0,4.5,1.2,7.2,47.0
min,2001.0,1.0,-1.1,9.2,-14.1,2.4,-4.6,10.1,-16.6,3.6,20.0,37.6
25%,2006.0,3.8,5.9,13.5,-3.7,9.1,2.4,52.2,-8.2,5.5,29.0,87.2
50%,2011.0,6.5,8.9,17.6,-1.1,13.1,5.0,75.3,-5.2,6.1,34.0,115.8
75%,2016.0,9.2,13.1,22.3,3.6,17.5,8.8,107.8,-0.6,7.0,40.0,151.8
max,2021.0,12.0,17.3,29.5,9.1,22.6,12.4,274.3,5.2,10.3,58.0,233.3

In [16]:
# Westmeath identify and replace missing values

WestmeathMonthlyData.isna().sum()

year          0
month         0
meant         0
maxtp         0
mintp         0
mnmax         0
mnmin         0
rain          0
gmin          1
wdsp          0
maxgt         0
sun         180
Location      0
dtype: int64

In [17]:
# locate the missing values for pre change review using .loc, .isnull and .any with axis set to 1 to perform on columns that satisy condition 
# too many to show below - note row 684 where we will refer back to later to show NaN replaced

WestmeathMonthlyData.loc[WestmeathMonthlyData.isnull().any(axis=1)]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
684,2007,1,6.2,12.5,-1.8,8.8,3.5,125.9,-7.6,8.5,51.0,NaN,Westmeath
685,2007,2,5.0,12.8,-6.7,8.6,1.5,79.1,-11.7,6.5,40.0,NaN,Westmeath
686,2007,3,6.0,13.6,-2.9,10.5,1.5,71.6,-6.5,7.0,41.0,NaN,Westmeath
687,2007,4,10.4,20.6,-1.1,15.7,5.0,26.0,-4.7,5.2,29.0,NaN,Westmeath
688,2007,5,10.4,21.7,0.6,15.0,5.8,69.3,-3.1,6.3,35.0,NaN,Westmeath
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,2021,8,14.9,23.9,4.8,19.2,10.6,142.1,1.2,4.7,30.0,NaN,Westmeath
860,2021,9,14.5,25.4,4.4,18.4,10.6,58.1,-0.5,4.7,25.0,NaN,Westmeath
861,2021,10,11.4,19.3,2.8,14.7,8.0,97.7,-1.5,6.1,32.0,NaN,Westmeath
862,2021,11,7.8,16.5,0.2,10.7,4.9,41.6,-4.7,5.5,30.0,NaN,Westmeath
863,2021,12,6.3,13.4,-2.1,9.1,3.6,128.0,-5.8,6.6,49.0,NaN,Westmeath

In [18]:
# identify MIN and MAX in gmin and sun columns

Westmeath_gmin_min = WestmeathMonthlyData['gmin'].loc[WestmeathMonthlyData['gmin'].idxmin()]
Westmeath_gmin_max = WestmeathMonthlyData['gmin'].loc[WestmeathMonthlyData['gmin'].idxmax()]
Westmeath_sun_min = WestmeathMonthlyData['sun'].loc[WestmeathMonthlyData['sun'].idxmin()]
Westmeath_sun_max = WestmeathMonthlyData['sun'].loc[WestmeathMonthlyData['sun'].idxmax()]

print(Westmeath_gmin_min)
print(Westmeath_gmin_max)
print(Westmeath_sun_min)
print(Westmeath_sun_max)

-16.6
5.2
37.6
233.3

In [19]:
# code to replace NaN values with random number between the min and max range we have identified in gmin and sun columns

WestmeathMonthlyData['gmin'] = WestmeathMonthlyData['gmin'].mask(WestmeathMonthlyData['gmin'].isna(), np.random.uniform(-16.6, 5.2, size=len(WestmeathMonthlyData)))
WestmeathMonthlyData['sun'] = WestmeathMonthlyData['sun'].mask(WestmeathMonthlyData['sun'].isna(), np.random.uniform(37.6, 233.3, size=len(WestmeathMonthlyData)))

# use .loc to show a row e.g. 684 which we identified from above and see that it is now updated with a random number from our defined min/max range and no longer showing as NaN

WestmeathMonthlyData.loc[[684]]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
684,2007,1,6.2,12.5,-1.8,8.8,3.5,125.9,-7.6,8.5,51.0,73.2,Westmeath

In [20]:
# we can now confirm that all NaN values have been replaced by running the .isna function again

WestmeathMonthlyData.isna().sum()

year        0
month       0
meant       0
maxtp       0
mintp       0
mnmax       0
mnmin       0
rain        0
gmin        0
wdsp        0
maxgt       0
sun         0
Location    0
dtype: int64

In [21]:
# Next - Mayo - we will show some basic statistical results on the dataframe, identify and replace missing values

MayoMonthlyData.describe()

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
count,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0,230.0
mean,2011.0,6.5,8.9,16.8,1.6,12.0,5.8,113.4,-1.6,9.4,45.5,99.7
std,6.1,3.5,3.7,4.9,3.9,4.1,3.4,51.9,4.1,1.5,9.3,49.2
min,2001.0,1.0,0.6,8.4,-7.4,2.8,-1.5,18.7,-13.6,6.1,27.0,15.5
25%,2006.0,4.0,5.5,12.1,-1.4,8.1,2.8,73.7,-4.7,8.4,38.5,61.6
50%,2011.0,7.0,8.5,16.2,0.9,11.9,5.4,105.9,-1.8,9.2,44.0,95.2
75%,2016.0,9.5,12.4,20.6,5.5,15.8,9.1,143.9,1.7,10.3,51.0,131.4
max,2021.0,12.0,16.8,28.9,9.8,21.1,12.5,347.8,7.4,14.4,84.0,223.0

In [22]:
# Mayo identify and replace missing values

MayoMonthlyData.isna().sum()

year         0
month        0
meant        0
maxtp        0
mintp        0
mnmax        0
mnmin        0
rain         0
gmin         0
wdsp         0
maxgt        0
sun         21
Location     0
dtype: int64

In [23]:
# locate the missing values for pre change review using .loc, .isnull and .any with axis set to 1 to perform on columns that satisy condition 
# too many to show below - note row 282 where we will refer back to later to show NaN replaced

MayoMonthlyData.loc[MayoMonthlyData.isnull().any(axis=1)]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
282,2020,4,9.3,18.5,0.0,13.7,4.9,21.0,-1.9,8.2,37.0,NaN,Mayo
283,2020,5,11.4,24.3,0.2,15.9,6.8,30.8,-2.2,9.2,48.0,NaN,Mayo
284,2020,6,12.3,24.3,4.8,15.6,9.0,126.8,2.0,9.4,42.0,NaN,Mayo
285,2020,7,12.6,20.0,6.6,15.6,9.7,159.6,6.4,8.8,44.0,NaN,Mayo
286,2020,8,14.6,22.9,5.8,17.9,11.3,104.9,4.5,7.7,49.0,NaN,Mayo
287,2020,9,12.0,19.7,3.7,15.2,8.8,75.4,0.2,8.6,39.0,NaN,Mayo
288,2020,10,8.6,13.8,1.8,11.3,5.8,178.8,0.1,10.2,57.0,NaN,Mayo
289,2020,11,7.2,13.3,1.0,9.6,4.8,129.3,-1.3,9.5,42.0,NaN,Mayo
290,2020,12,4.3,10.0,-2.1,6.5,2.0,161.8,-4.4,10.0,53.0,NaN,Mayo
291,2021,1,3.5,9.9,-2.4,5.7,1.2,129.3,-6.7,8.2,38.0,NaN,Mayo
292,2021,2,4.7,11.1,-3.6,7.2,2.2,118.7,-4.7,11.9,54.0,NaN,Mayo
293,2021,3,6.2,13.4,-0.4,8.8,3.7,118.9,-1.7,10.0,46.0,NaN,Mayo
294,2021,4,7.1,17.9,-1.5,11.3,2.8,41.6,-5.5,7.9,33.0,NaN,Mayo
295,2021,5,8.9,20.6,0.2,12.9,4.8,115.6,-4.3,8.4,44.0,NaN,Mayo
296,2021,6,12.2,19.9,4.9,15.8,8.6,50.2,1.2,8.3,34.0,NaN,Mayo
297,2021,7,16.2,28.0,8.8,19.9,12.5,122.8,7.4,6.1,30.0,NaN,Mayo
298,2021,8,14.7,23.6,9.8,17.8,11.5,117.7,6.3,7.5,40.0,NaN,Mayo
299,2021,9,13.6,24.7,4.1,16.3,10.8,147.7,2.9,7.1,32.0,NaN,Mayo
300,2021,10,10.3,16.4,3.4,12.9,7.7,166.4,0.5,8.5,39.0,NaN,Mayo
301,2021,11,7.7,13.1,1.4,9.9,5.5,105.7,-2.6,8.9,46.0,NaN,Mayo
302,2021,12,6.1,12.0,0.0,8.0,4.1,129.9,-0.9,10.2,57.0,NaN,Mayo

In [24]:
# identify MIN and MAX in sun column

Mayo_sun_min = MayoMonthlyData['sun'].loc[MayoMonthlyData['sun'].idxmin()]
Mayo_sun_max = MayoMonthlyData['sun'].loc[MayoMonthlyData['sun'].idxmax()]

print(Mayo_sun_min)
print(Mayo_sun_max)

15.5
223.0

In [25]:
# code to replace NaN values with random number between the min and max range we have identified in mintp
MayoMonthlyData['sun'] = MayoMonthlyData['sun'].mask(MayoMonthlyData['sun'].isna(), np.random.uniform(15.5, 223.0, size=len(MayoMonthlyData)))

# use .loc to show a row e.g. 282 which we identified from above and see that it is now updated with a random number from our defined min/max range and no longer showing as NaN

MayoMonthlyData.loc[[282]]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
282,2020,4,9.3,18.5,0.0,13.7,4.9,21.0,-1.9,8.2,37.0,63.1,Mayo

In [26]:
# Next - Cork - we will show some basic statistical results on the dataframe, identify and replace missing values

CorkMonthlyData.describe()

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
count,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0
mean,2011.0,6.5,10.0,17.2,2.5,13.1,6.9,102.8,-1.9,9.6,44.3,124.8
std,6.1,3.5,3.6,4.3,3.8,4.0,3.3,56.8,3.9,1.5,8.8,54.5
min,2001.0,1.0,1.7,9.6,-7.2,4.0,-0.5,10.4,-10.3,6.4,27.0,24.3
25%,2006.0,4.0,6.8,13.4,-0.5,9.4,4.0,59.6,-4.8,8.6,38.0,76.6
50%,2011.0,7.0,9.5,16.7,1.9,12.8,6.5,91.7,-2.2,9.5,44.0,123.2
75%,2016.0,9.5,13.5,20.8,6.0,16.9,10.2,135.4,1.4,10.4,50.0,164.0
max,2021.0,12.0,17.4,26.7,9.9,21.9,13.3,402.2,6.9,14.8,71.0,264.5

In [28]:
# Cork identify and replace missing values

CorkMonthlyData.isna().sum()

year        0
month       0
meant       0
maxtp       0
mintp       0
mnmax       0
mnmin       0
rain        0
gmin        0
wdsp        0
maxgt       0
sun         0
Location    0
dtype: int64

In [29]:
# Finally - Dublin - we will show some basic statistical results on the dataframe, identify and replace missing values

DublinMonthlyData.describe()

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun
count,251.0,251.0,251.0,251.0,251.0,251.0,251.0,251.0,250.0,251.0,251.0,251.0
mean,2011.0,6.5,9.6,18.2,-0.0,13.4,5.8,64.7,-3.7,10.5,44.0,125.9
std,6.1,3.5,3.8,4.4,4.1,4.3,3.5,36.9,4.4,1.9,8.6,53.1
min,2001.0,1.0,-0.1,9.3,-12.2,3.3,-3.5,4.8,-12.6,6.5,28.0,30.5
25%,2006.0,4.0,6.4,14.2,-3.0,9.6,2.9,38.5,-7.0,9.2,37.5,81.0
50%,2011.0,7.0,9.1,17.7,-0.6,13.0,5.4,57.6,-4.0,10.2,43.0,125.4
75%,2016.0,9.5,13.1,22.2,3.5,17.4,8.9,83.5,-0.2,11.5,49.0,159.9
max,2021.0,12.0,16.9,26.9,9.2,22.0,12.3,193.5,6.4,16.3,80.0,295.0

In [30]:
# Dublin identify and replace missing values

DublinMonthlyData.isna().sum()

year        0
month       0
meant       0
maxtp       0
mintp       0
mnmax       0
mnmin       0
rain        0
gmin        1
wdsp        0
maxgt       0
sun         0
Location    0
dtype: int64

In [31]:
# locate the missing values for pre change review using .loc, .isnull and .any with axis set to 1 to perform on columns that satisy condition 
# too many to show below - note row 829 where we will refer back to later to show NaN replaced

DublinMonthlyData.loc[DublinMonthlyData.isnull().any(axis=1)]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
829,2010,12,-0.1,11.7,-12.2,3.3,-3.5,58.1,NaN,8.4,37.0,60.3,Dublin

In [32]:
# identify MIN and MAX in gmin column

Dublin_gmin_min = DublinMonthlyData['gmin'].loc[DublinMonthlyData['gmin'].idxmin()]
Dublin_gmin_max = DublinMonthlyData['gmin'].loc[DublinMonthlyData['gmin'].idxmax()]
print(Dublin_gmin_min)
print(Dublin_gmin_max)

-12.6
6.4

In [33]:
# code to replace NaN values with random number between the min and max range we have identified in mintp
DublinMonthlyData['gmin'] = DublinMonthlyData['gmin'].mask(DublinMonthlyData['gmin'].isna(), np.random.uniform(-12.6, 6.4, size=len(DublinMonthlyData)))

# use .loc to show row 829 which we identified from above and see that it is now updated with a random number from our defined min/max range and no longer showing as NaN

DublinMonthlyData.loc[[829]]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
829,2010,12,-0.1,11.7,-12.2,3.3,-3.5,58.1,-11.3,8.4,37.0,60.3,Dublin

In [34]:
# we can now confirm that all NaN values have been replaced by running the .isna function again

DublinMonthlyData.isna().sum()

year        0
month       0
meant       0
maxtp       0
mintp       0
mnmax       0
mnmin       0
rain        0
gmin        0
wdsp        0
maxgt       0
sun         0
Location    0
dtype: int64

In [35]:
# use .info to show the dataframe dtypes information and datatype and see if our numbers of rows and columns are consistent

DonegalMonthlyData.info()
WestmeathMonthlyData.info()
MayoMonthlyData.info()
CorkMonthlyData.info()
DublinMonthlyData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 548 to 799
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      252 non-null    int64
 1   month     252 non-null    int64
 2   meant     252 non-null    float64
 3   maxtp     252 non-null    float64
 4   mintp     252 non-null    float64
 5   mnmax     252 non-null    float64
 6   mnmin     252 non-null    float64
 7   rain      252 non-null    float64
 8   gmin      252 non-null    float64
 9   wdsp      252 non-null    float64
 10  maxgt     252 non-null    float64
 11  sun       252 non-null    float64
 12  Location  252 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 612 to 863
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      252 non-null    int64
 1   month     252 non-null    int64
 2   meant     252 non-null    float64
 3   maxtp     252 non-null    float64
 4   mintp     252 non-null    float64
 5   mnmax     252 non-null    float64
 6   mnmin     252 non-null    float64
 7   rain      252 non-null    float64
 8   gmin      252 non-null    float64
 9   wdsp      252 non-null    float64
 10  maxgt     252 non-null    float64
 11  sun       252 non-null    float64
 12  Location  252 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 52 to 302
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      251 non-null    int64
 1   month     251 non-null    int64
 2   meant     251 non-null    float64
 3   maxtp     251 non-null    float64
 4   mintp     251 non-null    float64
 5   mnmax     251 non-null    float64
 6   mnmin     251 non-null    float64
 7   rain      251 non-null    float64
 8   gmin      251 non-null    float64
 9   wdsp      251 non-null    float64
 10  maxgt     251 non-null    float64
 11  sun       251 non-null    float64
 12  Location  251 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 468 to 718
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      251 non-null    int64
 1   month     251 non-null    int64
 2   meant     251 non-null    float64
 3   maxtp     251 non-null    float64
 4   mintp     251 non-null    float64
 5   mnmax     251 non-null    float64
 6   mnmin     251 non-null    float64
 7   rain      251 non-null    float64
 8   gmin      251 non-null    float64
 9   wdsp      251 non-null    float64
 10  maxgt     251 non-null    float64
 11  sun       251 non-null    float64
 12  Location  251 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 710 to 960
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      251 non-null    int64
 1   month     251 non-null    int64
 2   meant     251 non-null    float64
 3   maxtp     251 non-null    float64
 4   mintp     251 non-null    float64
 5   mnmax     251 non-null    float64
 6   mnmin     251 non-null    float64
 7   rain      251 non-null    float64
 8   gmin      251 non-null    float64
 9   wdsp      251 non-null    float64
 10  maxgt     251 non-null    float64
 11  sun       251 non-null    float64
 12  Location  251 non-null    object
dtypes: float64(10), int64(2), object(1)
memory usage: 25.6+ KB

In [36]:
# we find that they are not consistent
# We are missing x1 row in Mayo / Cork / Dublin
# after looking through raw csv files again I located missing row which was for March 2020 for Mayo/Cork/Dublin

# find missing row index for Mayo March 2020

MayoMonthlyData.iloc[-24:-14]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
279,2019,12,5.2,11.2,-1.1,7.4,3.0,174.0,-5.1,10.6,63.0,47.6,Mayo
280,2020,1,5.0,11.7,-1.9,7.3,2.7,122.5,-5.8,10.4,55.0,39.3,Mayo
281,2020,2,4.2,9.9,-1.1,7.1,1.3,277.4,-2.3,13.6,58.0,54.5,Mayo
282,2020,4,9.3,18.5,0.0,13.7,4.9,21.0,-1.9,8.2,37.0,63.1,Mayo
283,2020,5,11.4,24.3,0.2,15.9,6.8,30.8,-2.2,9.2,48.0,127.9,Mayo
284,2020,6,12.3,24.3,4.8,15.6,9.0,126.8,2.0,9.4,42.0,26.9,Mayo
285,2020,7,12.6,20.0,6.6,15.6,9.7,159.6,6.4,8.8,44.0,26.2,Mayo
286,2020,8,14.6,22.9,5.8,17.9,11.3,104.9,4.5,7.7,49.0,20.5,Mayo
287,2020,9,12.0,19.7,3.7,15.2,8.8,75.4,0.2,8.6,39.0,211.4,Mayo
288,2020,10,8.6,13.8,1.8,11.3,5.8,178.8,0.1,10.2,57.0,175.4,Mayo

In [40]:
# Inserting a Row at a Specific Index to go between Feb and Apr 2020 in Mayo df and use .loc again to see if it has been added
# new index will be added to bottom so use sort_index() to get month row data into correct position
# in this instance I will insert random numbers of my own choosing - somewhere between the Feb and Apr values of 2020

MayoMonthlyData.loc[281.5] = [2020, 3, 6.4, 14.7, 0.1, 10.6, 2.3, 121.4, -2.1, 11.1, 43.5, 39.9, 'Mayo']
MayoMonthlyData = MayoMonthlyData.sort_index()
MayoMonthlyData.iloc[-24:-14]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
229.0,2020,2,4.2,9.9,-1.1,7.1,1.3,277.4,-2.3,13.6,58.0,54.5,Mayo
230.0,2020,3,6.4,14.7,0.1,10.6,2.3,121.4,-2.1,11.1,43.5,39.9,Mayo
231.0,2020,4,9.3,18.5,0.0,13.7,4.9,21.0,-1.9,8.2,37.0,63.1,Mayo
232.0,2020,5,11.4,24.3,0.2,15.9,6.8,30.8,-2.2,9.2,48.0,127.9,Mayo
233.0,2020,6,12.3,24.3,4.8,15.6,9.0,126.8,2.0,9.4,42.0,26.9,Mayo
234.0,2020,7,12.6,20.0,6.6,15.6,9.7,159.6,6.4,8.8,44.0,26.2,Mayo
235.0,2020,8,14.6,22.9,5.8,17.9,11.3,104.9,4.5,7.7,49.0,20.5,Mayo
236.0,2020,9,12.0,19.7,3.7,15.2,8.8,75.4,0.2,8.6,39.0,211.4,Mayo
237.0,2020,10,8.6,13.8,1.8,11.3,5.8,178.8,0.1,10.2,57.0,175.4,Mayo
238.0,2020,11,7.2,13.3,1.0,9.6,4.8,129.3,-1.3,9.5,42.0,74.9,Mayo

In [43]:
# reset the index

MayoMonthlyData.index = range(253)
MayoMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
0,2001,1,2.5,8.7,-2.9,4.7,0.4,81.8,-5.3,9.2,46.0,70.9,Mayo
1,2001,2,3.8,10.9,-2.5,6.7,0.9,66.1,-7.4,9.2,59.0,93.5,Mayo
2,2001,3,4.2,11.7,-3.8,7.2,1.2,65.0,-9.2,10.4,47.0,98.0,Mayo
3,2001,4,6.7,12.8,-0.3,10.1,3.3,92.9,-3.9,9.9,50.0,124.9,Mayo
4,2001,5,11.3,22.1,2.8,15.6,7.1,50.6,-2.4,8.0,40.0,211.6,Mayo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,2021,9,13.6,24.7,4.1,16.3,10.8,147.7,2.9,7.1,32.0,161.8,Mayo
249,2021,10,10.3,16.4,3.4,12.9,7.7,166.4,0.5,8.5,39.0,106.8,Mayo
250,2021,11,7.7,13.1,1.4,9.9,5.5,105.7,-2.6,8.9,46.0,194.8,Mayo
251,2021,12,6.1,12.0,0.0,8.0,4.1,129.9,-0.9,10.2,57.0,181.5,Mayo
252,2020,3,6.4,14.7,0.1,10.6,2.3,121.4,-2.1,11.1,43.5,39.9,Mayo

In [45]:
# ensure new month added with data for Dublin March 2020 is now in correct position - noticed in Out43 I had added row 252 
# will need to drop this in next next In

MayoMonthlyData.iloc[-24:-14]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
229,2020,2,4.2,9.9,-1.1,7.1,1.3,277.4,-2.3,13.6,58.0,54.5,Mayo
230,2020,3,6.4,14.7,0.1,10.6,2.3,121.4,-2.1,11.1,43.5,39.9,Mayo
231,2020,4,9.3,18.5,0.0,13.7,4.9,21.0,-1.9,8.2,37.0,63.1,Mayo
232,2020,5,11.4,24.3,0.2,15.9,6.8,30.8,-2.2,9.2,48.0,127.9,Mayo
233,2020,6,12.3,24.3,4.8,15.6,9.0,126.8,2.0,9.4,42.0,26.9,Mayo
234,2020,7,12.6,20.0,6.6,15.6,9.7,159.6,6.4,8.8,44.0,26.2,Mayo
235,2020,8,14.6,22.9,5.8,17.9,11.3,104.9,4.5,7.7,49.0,20.5,Mayo
236,2020,9,12.0,19.7,3.7,15.2,8.8,75.4,0.2,8.6,39.0,211.4,Mayo
237,2020,10,8.6,13.8,1.8,11.3,5.8,178.8,0.1,10.2,57.0,175.4,Mayo
238,2020,11,7.2,13.3,1.0,9.6,4.8,129.3,-1.3,9.5,42.0,74.9,Mayo

In [47]:
# delete row index 252

MayoMonthlyData = MayoMonthlyData.drop(MayoMonthlyData.index [ [ 252] ])
MayoMonthlyData.iloc[-5:]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
247,2021,8,14.7,23.6,9.8,17.8,11.5,117.7,6.3,7.5,40.0,199.1,Mayo
248,2021,9,13.6,24.7,4.1,16.3,10.8,147.7,2.9,7.1,32.0,161.8,Mayo
249,2021,10,10.3,16.4,3.4,12.9,7.7,166.4,0.5,8.5,39.0,106.8,Mayo
250,2021,11,7.7,13.1,1.4,9.9,5.5,105.7,-2.6,8.9,46.0,194.8,Mayo
251,2021,12,6.1,12.0,0.0,8.0,4.1,129.9,-0.9,10.2,57.0,181.5,Mayo

In [48]:
# find missing row index for Cork March 2020

CorkMonthlyData.iloc[-24:-14]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
695,2019,12,6.2,12.3,0.1,8.8,3.6,125.6,-4.8,10.7,54.0,61.0,Cork
696,2020,1,6.2,12.4,-0.9,8.7,3.6,112.2,-6.6,9.8,56.0,74.1,Cork
697,2020,2,6.0,12.2,-0.5,9.0,3.0,199.3,-5.5,14.6,57.0,83.0,Cork
698,2020,4,9.6,19.3,1.8,13.1,6.0,72.3,-6.0,8.3,36.0,164.9,Cork
699,2020,5,11.4,19.9,1.8,15.1,7.8,68.8,-2.3,9.7,46.0,244.1,Cork
700,2020,6,13.6,24.0,5.9,16.9,10.2,94.1,2.3,10.3,44.0,136.0,Cork
701,2020,7,14.8,22.9,8.6,18.5,11.2,97.6,2.9,9.6,36.0,163.7,Cork
702,2020,8,15.5,24.1,6.6,18.9,12.2,175.0,0.6,8.6,58.0,151.7,Cork
703,2020,9,13.5,21.6,4.9,16.8,10.1,58.2,-1.3,8.6,40.0,144.8,Cork
704,2020,10,9.7,14.6,4.0,12.7,6.6,118.6,-1.5,11.4,50.0,126.9,Cork

In [50]:
# Inserting a Row at a Specific Index to go between Feb and Apr 2020 in Cork df and use .loc again to see if it has been added
# new index will be added to bottom so use sort_index() to get month row data into correct position
# learning from the Mayo data I will simply add in my randmon manual float values at this stage

CorkMonthlyData.loc[697.5] = [2020, 3, 8.0, 15.1, 0.4, 10.7, 4.6, 128.9, -5.8, 12.3, 43.0, 141.1, 'Cork']
CorkMonthlyData = CorkMonthlyData.sort_index()
CorkMonthlyData.iloc[-24:]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
696.0,2020,1,6.2,12.4,-0.9,8.7,3.6,112.2,-6.6,9.8,56.0,74.1,Cork
697.0,2020,2,6.0,12.2,-0.5,9.0,3.0,199.3,-5.5,14.6,57.0,83.0,Cork
697.5,2020,3,8.0,15.1,0.4,10.7,4.6,128.9,-5.8,12.3,43.0,141.1,Cork
698.0,2020,4,9.6,19.3,1.8,13.1,6.0,72.3,-6.0,8.3,36.0,164.9,Cork
699.0,2020,5,11.4,19.9,1.8,15.1,7.8,68.8,-2.3,9.7,46.0,244.1,Cork
700.0,2020,6,13.6,24.0,5.9,16.9,10.2,94.1,2.3,10.3,44.0,136.0,Cork
701.0,2020,7,14.8,22.9,8.6,18.5,11.2,97.6,2.9,9.6,36.0,163.7,Cork
702.0,2020,8,15.5,24.1,6.6,18.9,12.2,175.0,0.6,8.6,58.0,151.7,Cork
703.0,2020,9,13.5,21.6,4.9,16.8,10.1,58.2,-1.3,8.6,40.0,144.8,Cork
704.0,2020,10,9.7,14.6,4.0,12.7,6.6,118.6,-1.5,11.4,50.0,126.9,Cork
705.0,2020,11,8.3,14.4,1.9,10.8,5.8,160.8,-1.9,10.6,46.0,76.1,Cork
706.0,2020,12,5.5,12.0,-0.3,7.9,3.0,185.4,-3.5,11.8,50.0,76.2,Cork
707.0,2021,1,4.7,10.9,-2.7,7.2,2.2,121.8,-7.8,9.4,38.0,95.2,Cork
708.0,2021,2,5.8,11.2,-1.1,8.2,3.4,235.9,-5.4,13.3,48.0,67.2,Cork
709.0,2021,3,7.3,16.0,0.2,10.3,4.4,67.5,-9.2,10.4,50.0,90.7,Cork
710.0,2021,4,7.7,15.3,-0.5,11.2,4.1,18.2,-4.6,8.4,30.0,210.0,Cork
711.0,2021,5,9.5,19.0,2.1,13.1,5.9,172.7,-1.4,9.9,48.0,196.3,Cork
712.0,2021,6,13.7,22.2,6.7,17.5,10.0,37.4,2.4,8.7,29.0,179.6,Cork
713.0,2021,7,16.6,25.7,7.4,20.4,12.9,60.7,2.8,7.6,33.0,192.6,Cork
714.0,2021,8,15.4,21.6,9.7,18.6,12.1,65.0,5.7,8.0,34.0,164.3,Cork
715.0,2021,9,14.6,23.3,5.6,17.4,11.7,85.4,2.7,7.2,33.0,83.1,Cork
716.0,2021,10,11.3,17.6,4.1,14.2,8.4,197.6,-1.5,9.2,47.0,104.4,Cork
717.0,2021,11,8.2,15.2,-1.2,10.9,5.6,34.2,-3.5,8.7,45.0,93.4,Cork
718.0,2021,12,7.7,13.0,0.9,9.5,5.9,148.0,-2.0,11.4,64.0,43.1,Cork

In [51]:
# reset the index to integer based look

CorkMonthlyData.index = range(252)
CorkMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
0,2001,1,4.8,10.5,-2.7,7.3,2.4,87.3,-4.9,9.0,49.0,69.5,Cork
1,2001,2,5.7,13.2,-2.0,8.8,2.6,133.4,-8.1,9.5,64.0,89.0,Cork
2,2001,3,6.3,13.3,-4.0,9.1,3.4,116.4,-9.8,11.1,48.0,109.1,Cork
3,2001,4,8.1,14.2,0.6,11.8,4.4,70.5,-3.1,9.9,44.0,169.0,Cork
4,2001,5,12.0,21.0,2.9,16.4,7.7,22.7,-3.0,8.2,35.0,256.5,Cork
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2021,8,15.4,21.6,9.7,18.6,12.1,65.0,5.7,8.0,34.0,164.3,Cork
248,2021,9,14.6,23.3,5.6,17.4,11.7,85.4,2.7,7.2,33.0,83.1,Cork
249,2021,10,11.3,17.6,4.1,14.2,8.4,197.6,-1.5,9.2,47.0,104.4,Cork
250,2021,11,8.2,15.2,-1.2,10.9,5.6,34.2,-3.5,8.7,45.0,93.4,Cork
251,2021,12,7.7,13.0,0.9,9.5,5.9,148.0,-2.0,11.4,64.0,43.1,Cork

In [52]:
# ensure new month added with data for Cork March 2020 is now in correct position

CorkMonthlyData.iloc[-24:]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
228,2020,1,6.2,12.4,-0.9,8.7,3.6,112.2,-6.6,9.8,56.0,74.1,Cork
229,2020,2,6.0,12.2,-0.5,9.0,3.0,199.3,-5.5,14.6,57.0,83.0,Cork
230,2020,3,8.0,15.1,0.4,10.7,4.6,128.9,-5.8,12.3,43.0,141.1,Cork
231,2020,4,9.6,19.3,1.8,13.1,6.0,72.3,-6.0,8.3,36.0,164.9,Cork
232,2020,5,11.4,19.9,1.8,15.1,7.8,68.8,-2.3,9.7,46.0,244.1,Cork
233,2020,6,13.6,24.0,5.9,16.9,10.2,94.1,2.3,10.3,44.0,136.0,Cork
234,2020,7,14.8,22.9,8.6,18.5,11.2,97.6,2.9,9.6,36.0,163.7,Cork
235,2020,8,15.5,24.1,6.6,18.9,12.2,175.0,0.6,8.6,58.0,151.7,Cork
236,2020,9,13.5,21.6,4.9,16.8,10.1,58.2,-1.3,8.6,40.0,144.8,Cork
237,2020,10,9.7,14.6,4.0,12.7,6.6,118.6,-1.5,11.4,50.0,126.9,Cork
238,2020,11,8.3,14.4,1.9,10.8,5.8,160.8,-1.9,10.6,46.0,76.1,Cork
239,2020,12,5.5,12.0,-0.3,7.9,3.0,185.4,-3.5,11.8,50.0,76.2,Cork
240,2021,1,4.7,10.9,-2.7,7.2,2.2,121.8,-7.8,9.4,38.0,95.2,Cork
241,2021,2,5.8,11.2,-1.1,8.2,3.4,235.9,-5.4,13.3,48.0,67.2,Cork
242,2021,3,7.3,16.0,0.2,10.3,4.4,67.5,-9.2,10.4,50.0,90.7,Cork
243,2021,4,7.7,15.3,-0.5,11.2,4.1,18.2,-4.6,8.4,30.0,210.0,Cork
244,2021,5,9.5,19.0,2.1,13.1,5.9,172.7,-1.4,9.9,48.0,196.3,Cork
245,2021,6,13.7,22.2,6.7,17.5,10.0,37.4,2.4,8.7,29.0,179.6,Cork
246,2021,7,16.6,25.7,7.4,20.4,12.9,60.7,2.8,7.6,33.0,192.6,Cork
247,2021,8,15.4,21.6,9.7,18.6,12.1,65.0,5.7,8.0,34.0,164.3,Cork
248,2021,9,14.6,23.3,5.6,17.4,11.7,85.4,2.7,7.2,33.0,83.1,Cork
249,2021,10,11.3,17.6,4.1,14.2,8.4,197.6,-1.5,9.2,47.0,104.4,Cork
250,2021,11,8.2,15.2,-1.2,10.9,5.6,34.2,-3.5,8.7,45.0,93.4,Cork
251,2021,12,7.7,13.0,0.9,9.5,5.9,148.0,-2.0,11.4,64.0,43.1,Cork

In [53]:
# find missing row index for Dublin March 2020

DublinMonthlyData.iloc[-24:-14]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
937,2019,12,5.9,13.8,-2.9,8.9,2.8,57.7,-7.0,9.2,46.0,60.0,Dublin
938,2020,1,6.3,14.2,-2.5,9.1,3.6,36.0,-5.3,9.7,48.0,65.0,Dublin
939,2020,2,5.8,13.4,-2.3,9.1,2.4,130.4,-6.2,13.1,48.0,103.2,Dublin
940,2020,4,8.5,19.4,-2.5,13.4,3.6,12.8,-6.7,8.4,38.0,188.2,Dublin
941,2020,5,10.9,21.5,-2.6,16.4,5.4,9.3,-5.8,8.6,46.0,295.0,Dublin
942,2020,6,13.4,25.0,3.8,17.7,9.0,69.6,0.6,9.2,39.0,130.0,Dublin
943,2020,7,14.4,23.1,5.0,18.2,10.7,98.9,1.6,8.9,39.0,104.2,Dublin
944,2020,8,14.7,24.0,3.8,18.6,10.8,87.1,1.3,8.5,39.0,97.1,Dublin
945,2020,9,12.8,22.7,0.9,17.0,8.7,60.9,-1.7,8.5,34.0,143.0,Dublin
946,2020,10,9.5,15.2,0.3,12.8,6.3,80.6,-2.9,10.4,41.0,120.6,Dublin

In [54]:
# Inserting a Row at a Specific Index to go between Feb and Apr 2020 in Dublin df and use .loc again to see if it has been added
# new index will be added to bottom so use sort_index() to get month row data into correct position
# learning from the Mayo and Cork data I will simply add in my randon manual float values at this stage

DublinMonthlyData.loc[939.5] = [2020, 3, 15.7, -2.4, 11.9, 3.1, 71.6, -6.5, 10.4, 42.0, 147.4, 155.0, 'Dublin']
DublinMonthlyData = DublinMonthlyData.sort_index()
DublinMonthlyData.iloc[-24:]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
938.0,2020,1,6.3,14.2,-2.5,9.1,3.6,36.0,-5.3,9.7,48.0,65.0,Dublin
939.0,2020,2,5.8,13.4,-2.3,9.1,2.4,130.4,-6.2,13.1,48.0,103.2,Dublin
939.5,2020,3,15.7,-2.4,11.9,3.1,71.6,-6.5,10.4,42.0,147.4,155.0,Dublin
940.0,2020,4,8.5,19.4,-2.5,13.4,3.6,12.8,-6.7,8.4,38.0,188.2,Dublin
941.0,2020,5,10.9,21.5,-2.6,16.4,5.4,9.3,-5.8,8.6,46.0,295.0,Dublin
942.0,2020,6,13.4,25.0,3.8,17.7,9.0,69.6,0.6,9.2,39.0,130.0,Dublin
943.0,2020,7,14.4,23.1,5.0,18.2,10.7,98.9,1.6,8.9,39.0,104.2,Dublin
944.0,2020,8,14.7,24.0,3.8,18.6,10.8,87.1,1.3,8.5,39.0,97.1,Dublin
945.0,2020,9,12.8,22.7,0.9,17.0,8.7,60.9,-1.7,8.5,34.0,143.0,Dublin
946.0,2020,10,9.5,15.2,0.3,12.8,6.3,80.6,-2.9,10.4,41.0,120.6,Dublin
947.0,2020,11,8.2,16.0,-1.2,11.3,5.2,48.1,-5.5,9.6,43.0,70.7,Dublin
948.0,2020,12,4.9,14.2,-4.4,7.6,2.2,83.1,-6.0,10.5,38.0,65.5,Dublin
949.0,2021,1,3.9,11.9,-5.9,6.6,1.2,115.1,-9.0,9.4,43.0,54.1,Dublin
950.0,2021,2,6.2,14.2,-0.6,8.8,3.5,55.0,-2.9,11.8,50.0,70.0,Dublin
951.0,2021,3,7.2,16.4,-3.5,10.8,3.6,32.1,-7.5,9.7,46.0,116.3,Dublin
952.0,2021,4,5.6,16.1,-4.7,10.9,0.2,10.8,-8.5,7.8,35.0,209.9,Dublin
953.0,2021,5,9.2,20.4,-1.9,14.1,4.3,83.5,-4.5,8.6,43.0,214.2,Dublin
954.0,2021,6,13.7,23.7,2.9,18.7,8.7,12.6,-0.8,7.8,29.0,180.2,Dublin
955.0,2021,7,16.1,26.8,6.1,20.8,11.4,72.9,3.7,6.6,36.0,190.8,Dublin
956.0,2021,8,14.7,21.8,7.1,18.6,10.8,65.3,3.2,7.5,32.0,115.2,Dublin
957.0,2021,9,14.7,22.9,5.0,18.6,10.8,42.0,2.7,7.0,36.0,102.6,Dublin
958.0,2021,10,11.9,20.2,3.6,14.9,8.8,79.8,1.8,8.4,35.0,111.9,Dublin
959.0,2021,11,7.6,16.4,-1.2,10.6,4.7,11.7,-4.0,9.5,39.0,70.3,Dublin
960.0,2021,12,6.5,14.1,-1.4,9.3,3.7,85.8,-5.4,9.6,50.0,59.1,Dublin

In [55]:
# reset the index

DublinMonthlyData.index = range(252)
DublinMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
0,2001,1,3.6,11.6,-4.6,6.5,0.7,31.8,-9.4,9.8,43.0,68.8,Dublin
1,2001,2,4.3,13.1,-4.8,8.0,0.5,49.5,-11.1,9.7,51.0,98.3,Dublin
2,2001,3,5.0,14.1,-7.9,8.4,1.6,56.2,-12.4,10.3,41.0,122.2,Dublin
3,2001,4,7.2,15.4,-1.5,11.5,2.9,77.9,-4.3,10.1,45.0,145.9,Dublin
4,2001,5,11.4,22.2,-0.1,16.3,6.4,49.8,-3.4,7.7,40.0,239.8,Dublin
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2021,8,14.7,21.8,7.1,18.6,10.8,65.3,3.2,7.5,32.0,115.2,Dublin
248,2021,9,14.7,22.9,5.0,18.6,10.8,42.0,2.7,7.0,36.0,102.6,Dublin
249,2021,10,11.9,20.2,3.6,14.9,8.8,79.8,1.8,8.4,35.0,111.9,Dublin
250,2021,11,7.6,16.4,-1.2,10.6,4.7,11.7,-4.0,9.5,39.0,70.3,Dublin
251,2021,12,6.5,14.1,-1.4,9.3,3.7,85.8,-5.4,9.6,50.0,59.1,Dublin

In [56]:
# ensure new month added with data for Dublin March 2020 is now in correct position

DublinMonthlyData.iloc[-24:]

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
228,2020,1,6.3,14.2,-2.5,9.1,3.6,36.0,-5.3,9.7,48.0,65.0,Dublin
229,2020,2,5.8,13.4,-2.3,9.1,2.4,130.4,-6.2,13.1,48.0,103.2,Dublin
230,2020,3,15.7,-2.4,11.9,3.1,71.6,-6.5,10.4,42.0,147.4,155.0,Dublin
231,2020,4,8.5,19.4,-2.5,13.4,3.6,12.8,-6.7,8.4,38.0,188.2,Dublin
232,2020,5,10.9,21.5,-2.6,16.4,5.4,9.3,-5.8,8.6,46.0,295.0,Dublin
233,2020,6,13.4,25.0,3.8,17.7,9.0,69.6,0.6,9.2,39.0,130.0,Dublin
234,2020,7,14.4,23.1,5.0,18.2,10.7,98.9,1.6,8.9,39.0,104.2,Dublin
235,2020,8,14.7,24.0,3.8,18.6,10.8,87.1,1.3,8.5,39.0,97.1,Dublin
236,2020,9,12.8,22.7,0.9,17.0,8.7,60.9,-1.7,8.5,34.0,143.0,Dublin
237,2020,10,9.5,15.2,0.3,12.8,6.3,80.6,-2.9,10.4,41.0,120.6,Dublin
238,2020,11,8.2,16.0,-1.2,11.3,5.2,48.1,-5.5,9.6,43.0,70.7,Dublin
239,2020,12,4.9,14.2,-4.4,7.6,2.2,83.1,-6.0,10.5,38.0,65.5,Dublin
240,2021,1,3.9,11.9,-5.9,6.6,1.2,115.1,-9.0,9.4,43.0,54.1,Dublin
241,2021,2,6.2,14.2,-0.6,8.8,3.5,55.0,-2.9,11.8,50.0,70.0,Dublin
242,2021,3,7.2,16.4,-3.5,10.8,3.6,32.1,-7.5,9.7,46.0,116.3,Dublin
243,2021,4,5.6,16.1,-4.7,10.9,0.2,10.8,-8.5,7.8,35.0,209.9,Dublin
244,2021,5,9.2,20.4,-1.9,14.1,4.3,83.5,-4.5,8.6,43.0,214.2,Dublin
245,2021,6,13.7,23.7,2.9,18.7,8.7,12.6,-0.8,7.8,29.0,180.2,Dublin
246,2021,7,16.1,26.8,6.1,20.8,11.4,72.9,3.7,6.6,36.0,190.8,Dublin
247,2021,8,14.7,21.8,7.1,18.6,10.8,65.3,3.2,7.5,32.0,115.2,Dublin
248,2021,9,14.7,22.9,5.0,18.6,10.8,42.0,2.7,7.0,36.0,102.6,Dublin
249,2021,10,11.9,20.2,3.6,14.9,8.8,79.8,1.8,8.4,35.0,111.9,Dublin
250,2021,11,7.6,16.4,-1.2,10.6,4.7,11.7,-4.0,9.5,39.0,70.3,Dublin
251,2021,12,6.5,14.1,-1.4,9.3,3.7,85.8,-5.4,9.6,50.0,59.1,Dublin

In [58]:
# Check each dataframe to ensure 252 rows by 13 columns

DonegalMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
548,2001,1,4.7,9.4,-1.7,6.7,2.7,61.5,-4.5,15.7,57.0,77.7,Donegal
549,2001,2,5.1,11.3,-0.7,7.4,2.9,86.5,-2.5,17.2,58.0,88.7,Donegal
550,2001,3,5.3,13.1,-2.5,7.5,3.1,29.4,-4.5,17.4,66.0,125.0,Donegal
551,2001,4,7.3,14.9,2.2,9.7,4.9,54.2,-0.2,13.9,57.0,152.0,Donegal
552,2001,5,11.3,22.3,3.7,14.2,8.4,34.2,2.2,9.7,58.0,221.9,Donegal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,2021,8,14.4,20.3,9.0,16.7,12.1,69.1,4.9,9.2,39.0,250.8,Donegal
796,2021,9,14.3,22.8,7.8,16.9,11.7,68.3,5.5,11.2,44.0,172.2,Donegal
797,2021,10,11.8,18.3,4.9,14.1,9.5,156.2,2.8,14.9,52.0,198.8,Donegal
798,2021,11,9.6,15.6,3.7,11.4,7.7,95.4,2.5,18.6,70.0,64.6,Donegal
799,2021,12,7.2,13.1,1.6,9.3,5.2,115.2,-1.2,15.8,64.0,99.8,Donegal

In [59]:
WestmeathMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
612,2001,1,3.2,10.2,-5.5,6.1,0.3,38.1,-10.3,6.7,35.0,79.5,Westmeath
613,2001,2,4.2,12.6,-5.4,8.1,0.3,48.6,-10.0,6.7,45.0,98.5,Westmeath
614,2001,3,4.9,13.2,-8.0,8.4,1.5,70.9,-12.7,7.8,39.0,110.8,Westmeath
615,2001,4,7.2,13.7,-1.1,11.4,3.0,90.0,-9.8,7.2,44.0,146.7,Westmeath
616,2001,5,11.8,23.4,-1.1,17.1,6.5,40.6,-4.7,5.5,35.0,233.3,Westmeath
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,2021,8,14.9,23.9,4.8,19.2,10.6,142.1,1.2,4.7,30.0,135.2,Westmeath
860,2021,9,14.5,25.4,4.4,18.4,10.6,58.1,-0.5,4.7,25.0,202.9,Westmeath
861,2021,10,11.4,19.3,2.8,14.7,8.0,97.7,-1.5,6.1,32.0,225.7,Westmeath
862,2021,11,7.8,16.5,0.2,10.7,4.9,41.6,-4.7,5.5,30.0,38.5,Westmeath
863,2021,12,6.3,13.4,-2.1,9.1,3.6,128.0,-5.8,6.6,49.0,99.5,Westmeath

In [60]:
MayoMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
0,2001,1,2.5,8.7,-2.9,4.7,0.4,81.8,-5.3,9.2,46.0,70.9,Mayo
1,2001,2,3.8,10.9,-2.5,6.7,0.9,66.1,-7.4,9.2,59.0,93.5,Mayo
2,2001,3,4.2,11.7,-3.8,7.2,1.2,65.0,-9.2,10.4,47.0,98.0,Mayo
3,2001,4,6.7,12.8,-0.3,10.1,3.3,92.9,-3.9,9.9,50.0,124.9,Mayo
4,2001,5,11.3,22.1,2.8,15.6,7.1,50.6,-2.4,8.0,40.0,211.6,Mayo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2021,8,14.7,23.6,9.8,17.8,11.5,117.7,6.3,7.5,40.0,199.1,Mayo
248,2021,9,13.6,24.7,4.1,16.3,10.8,147.7,2.9,7.1,32.0,161.8,Mayo
249,2021,10,10.3,16.4,3.4,12.9,7.7,166.4,0.5,8.5,39.0,106.8,Mayo
250,2021,11,7.7,13.1,1.4,9.9,5.5,105.7,-2.6,8.9,46.0,194.8,Mayo
251,2021,12,6.1,12.0,0.0,8.0,4.1,129.9,-0.9,10.2,57.0,181.5,Mayo

In [61]:
CorkMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
0,2001,1,4.8,10.5,-2.7,7.3,2.4,87.3,-4.9,9.0,49.0,69.5,Cork
1,2001,2,5.7,13.2,-2.0,8.8,2.6,133.4,-8.1,9.5,64.0,89.0,Cork
2,2001,3,6.3,13.3,-4.0,9.1,3.4,116.4,-9.8,11.1,48.0,109.1,Cork
3,2001,4,8.1,14.2,0.6,11.8,4.4,70.5,-3.1,9.9,44.0,169.0,Cork
4,2001,5,12.0,21.0,2.9,16.4,7.7,22.7,-3.0,8.2,35.0,256.5,Cork
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2021,8,15.4,21.6,9.7,18.6,12.1,65.0,5.7,8.0,34.0,164.3,Cork
248,2021,9,14.6,23.3,5.6,17.4,11.7,85.4,2.7,7.2,33.0,83.1,Cork
249,2021,10,11.3,17.6,4.1,14.2,8.4,197.6,-1.5,9.2,47.0,104.4,Cork
250,2021,11,8.2,15.2,-1.2,10.9,5.6,34.2,-3.5,8.7,45.0,93.4,Cork
251,2021,12,7.7,13.0,0.9,9.5,5.9,148.0,-2.0,11.4,64.0,43.1,Cork

In [62]:
DublinMonthlyData

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,wdsp,maxgt,sun,Location
0,2001,1,3.6,11.6,-4.6,6.5,0.7,31.8,-9.4,9.8,43.0,68.8,Dublin
1,2001,2,4.3,13.1,-4.8,8.0,0.5,49.5,-11.1,9.7,51.0,98.3,Dublin
2,2001,3,5.0,14.1,-7.9,8.4,1.6,56.2,-12.4,10.3,41.0,122.2,Dublin
3,2001,4,7.2,15.4,-1.5,11.5,2.9,77.9,-4.3,10.1,45.0,145.9,Dublin
4,2001,5,11.4,22.2,-0.1,16.3,6.4,49.8,-3.4,7.7,40.0,239.8,Dublin
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2021,8,14.7,21.8,7.1,18.6,10.8,65.3,3.2,7.5,32.0,115.2,Dublin
248,2021,9,14.7,22.9,5.0,18.6,10.8,42.0,2.7,7.0,36.0,102.6,Dublin
249,2021,10,11.9,20.2,3.6,14.9,8.8,79.8,1.8,8.4,35.0,111.9,Dublin
250,2021,11,7.6,16.4,-1.2,10.6,4.7,11.7,-4.0,9.5,39.0,70.3,Dublin
251,2021,12,6.5,14.1,-1.4,9.3,3.7,85.8,-5.4,9.6,50.0,59.1,Dublin

In [ ]:
# Dataframes are now cleaned an dready to be merged
# Now we will merge the Dataframes now that dtyes are consistent and all NaN values have been removed
# we have also managed to insert x3 blank rows into x3 dfs to ensure each df has same number of rows and columns