In [1]:
import pandas as pd
import numpy as np 

# read all csv files to pd dfs - skiprows=19 will skip first 19 lines and try to read from 20th line where the data we want is - code also added, sep parameter, to not recognize/pull in blank spaces from csv

DonegalMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/DonegalMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')
WestmeathMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/WestmeathMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')
MayoMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/MayoMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')
CorkMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/CorkMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')
DublinMonthlydf = pd.read_csv('C:/Users./BYO User/UCD Data Project/Downloads for Data Project/DublinMonthly.csv', skiprows=19, sep = '\s*,\s*', engine = 'python')

#print the data frames
print(DonegalMonthlydf)
print(WestmeathMonthlydf)
print(MayoMonthlydf)
print(CorkMonthlydf)
print(DublinMonthlydf)

     year  month  meant  maxtp  mintp  mnmax  mnmin   rain  gmin  wdsp  maxgt  \
0    1955      5    9.5   20.2    1.4   12.3    6.6   70.1  -0.6  14.6   48.0
1    1955      6   12.4   18.8    6.6   14.7   10.0   83.2  -0.3  12.9   58.0
2    1955      7   14.8   21.3    8.8   17.5   12.1   22.1   4.5   6.2   33.0
3    1955      8   15.8   27.1    9.5   18.7   12.9   27.3   5.6   8.1   47.0
4    1955      9   13.9   23.4    7.7   16.5   11.2  114.2   4.4  16.0   50.0
..    ...    ...    ...    ...    ...    ...    ...    ...   ...   ...    ...
803  2022      4    8.6   16.0    1.7   11.5    5.8   84.2  -2.4  13.6   50.0
804  2022      5   11.9   19.4    8.0   14.3    9.4   74.8   2.1  14.3   41.0
805  2022      6   13.3   18.8    7.7   15.8   10.8   66.4   2.6  13.4   43.0
806  2022      7   14.6   23.0    8.9   17.0   12.3   66.3   8.5  11.7   40.0
807  2022      8   14.7   21.1    7.7   17.5   12.0   44.1   5.1  11.0   35.0

       sun
0    250.1
1    124.0
2    213.3
3    140.9
4    121.9
..     ...
803    NaN
804    NaN
805    NaN
806    NaN
807    NaN

[808 rows x 12 columns]
     year  month  meant  maxtp  mintp  mnmax  mnmin   rain  gmin  wdsp  maxgt  \
0    1950      1    5.2   12.3   -5.3    8.0    2.4   25.8  -8.3   8.8   42.0
1    1950      2    4.9   13.3   -3.9    8.4    1.4  129.2  -7.6  10.8   55.0
2    1950      3    7.8   15.5   -0.6   11.9    3.7   45.4  -3.9   8.1   41.0
3    1950      4    6.9   15.6   -1.7   10.7    3.1   82.6  -5.6  11.8   53.0
4    1950      5   11.0   20.6    2.3   15.5    6.5   25.1  -1.7   8.5   37.0
..    ...    ...    ...    ...    ...    ...    ...    ...   ...   ...    ...
867  2022      4    8.1   16.9   -4.6   12.9    3.3   48.7  -8.8   6.4   38.0
868  2022      5   12.0   19.8    4.1   16.3    7.8   53.4  -0.9   6.3   31.0
869  2022      6   13.5   22.6    4.5   17.6    9.4  100.6  -0.5   5.9   30.0
870  2022      7   16.2   30.4    7.1   20.6   11.7   31.6   3.4   4.9   25.0
871  2022      8   15.5   27.7    5.2   21.2    9.8   35.2   1.5   4.6   27.0

       sun
0     42.4
1     67.9
2    115.5
3    136.8
4    213.7
..     ...
867    NaN
868    NaN
869    NaN
870    NaN
871    NaN

[872 rows x 12 columns]
     year  month  meant  maxtp  mintp  mnmax  mnmin   rain  gmin  wdsp  maxgt  \
0    1996      8   13.4   20.4    7.3   16.6   10.3  109.4   5.3   8.3   34.0
1    1996     10    9.7    NaN    NaN   12.5    7.0    NaN   NaN   NaN    NaN
2    1996     11    5.0    NaN    NaN    7.6    2.5    NaN   NaN   NaN    NaN
3    1996     12    3.1   10.7   -4.0    5.2    1.1    NaN  -5.3   9.4   48.0
4    1997      1    3.4   10.7   -3.9    5.2    1.6   26.0  -5.2   8.0   40.0
..    ...    ...    ...    ...    ...    ...    ...    ...   ...   ...    ...
306  2022      4    8.2   16.3   -0.7   12.0    4.4   77.2  -2.9   9.1   53.0
307  2022      5   11.3   18.6    4.5   14.8    7.7  101.7   1.6   9.3   38.0
308  2022      6   12.3   19.9    6.3   15.7    8.9  128.8   3.5   8.8   40.0
309  2022      7   15.0   27.6    8.6   18.6   11.3   39.8   6.5   7.4   32.0
310  2022      8   15.0   27.2    7.9   19.2   10.9   59.4   4.9   7.1   29.0

      sun
0     NaN
1     NaN
2     NaN
3     NaN
4    42.1
..    ...
306   NaN
307   NaN
308   NaN
309   NaN
310   NaN

[311 rows x 12 columns]
     year  month  meant  maxtp  mintp  mnmax  mnmin  rain  gmin  wdsp  maxgt  \
0    1962      1    5.5   11.6   -3.8    8.2    2.7   NaN  -6.3  12.8     70
1    1962      2    5.3   12.3   -2.7    7.9    2.7   NaN  -4.4  13.6     57
2    1962      3    4.2   12.2   -5.4    7.5    0.9   NaN  -7.2  10.3     63
3    1962      4    7.7   18.8    0.6   11.2    4.1  68.6  -1.3  11.7     62
4    1962      5    9.7   16.1    2.3   13.3    6.2  80.7  -0.7  12.0     45
..    ...    ...    ...    ...    ...    ...    ...   ...   ...   ...    ...
722  2022      4    9.0   15.5   -0.7   12.5    5.5  64.9  -7.9   9.4     39
723  2022      5   12.1   18.5    6.6   15.7    8.5  35.7  -1.6   8.9     38
724  2022      6   13.4   20.7    6.1   17.0    9.7  84.1   1.2   9.3     41
725  2022      7   16.1   26.9    8.4   20.0   12.3  28.1   3.5   8.3     31
726  2022      8   17.1   28.3    8.7   21.7   12.4  14.2   3.2   7.9     32

       sun
0      NaN
1      NaN
2      NaN
3    201.1
4    216.5
..     ...
722  167.2
723  164.4
724  133.3
725  153.5
726  236.3

[727 rows x 12 columns]
     year  month  meant  maxtp  mintp  mnmax  mnmin  rain  gmin  wdsp  maxgt  \
0    1941     11    6.9   14.0   -3.1    9.9    3.9  67.2  -5.7  12.0    NaN
1    1941     12    6.5   12.7   -3.6    9.1    3.9  41.7  -7.6  12.5    NaN
2    1942      1    4.3   11.9   -3.1    6.9    1.7  91.9  -9.5  13.1    NaN
3    1942      2    2.9   11.6   -4.3    5.8   -0.0  25.8 -10.7   9.0    NaN
4    1942      3    6.3   16.2   -6.1    9.4    3.2  76.4  -8.3  10.7    NaN
..    ...    ...    ...    ...    ...    ...    ...   ...   ...   ...    ...
964  2022      4    7.6   17.3   -3.7   12.5    2.7  28.1  -7.1   9.3   43.0
965  2022      5   11.9   19.9    2.3   16.3    7.6  48.4  -1.3   8.8   33.0
966  2022      6   13.6   22.6    2.3   17.7    9.5  43.6  -2.1   8.3   33.0
967  2022      7   16.3   29.1    6.6   21.0   11.7  29.6   0.0   8.1   33.0
968  2022      8   15.9   26.3    6.0   21.3   10.5  34.6   0.9   7.3   30.0

       sun
0     56.1
1     46.1
2     72.8
3     51.4
4     73.9
..     ...
964  168.4
965  166.9
966  163.5
967  131.6
968  222.0

[969 rows x 12 columns]

In [2]:
# carve up into 5 subset dataframes using iloc. Each df will be for the time period we want 2001-2021

DonegalMonthlyData = DonegalMonthlydf.iloc[548:800 , 0:13].copy()
WestmeathMonthlyData = WestmeathMonthlydf.iloc[612:864 , 0:13].copy()
MayoMonthlyData = MayoMonthlydf.iloc[52:303 , 0:13].copy()
CorkMonthlyData = CorkMonthlydf.iloc[468:719 , 0:13].copy()
DublinMonthlyData = DublinMonthlydf.iloc[710:961 , 0:13].copy()